<p id="notice"><%= notice %></p>
<table>
  <tr>
    <td><strong>Наименование</strong></td>
    <td><%= @banlist.name %></td>
  </tr>
</table>
<%= link_to 'Создать', new_banlist_path %> |
<%= link_to 'Изменить', edit_banlist_path(@banlist) %> |
<%= link_to 'Назад', banlist_path %>