<p id="notice"><%= notice %></p>

<p>
  <strong>Имя группы:</strong>
  <%= @group.name %>
</p>
<strong>Пользователи группы</strong>
<table>
  <tr>
    <th><strong><%= sortable 'surname', 'Фамилия' %></strong></th>
    <th><strong><%= sortable 'name', 'Имя' %></strong></th>
    <th><strong><%= sortable 's_name', 'Отчество' %></strong></th>
    <th><strong><%= sortable 'ip', 'IP адрес' %></strong></th>
  </tr>
  <% @users.each do |user| %>
      <% if user.team == @group.name %>
          <tr>
            <td><%= user.surname %></td>
            <td><%= user.name %></td>
            <td><%= user.s_name %></td>
            <td><%= user.ip %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= link_to 'Изменить', edit_group_path(@group) %> |
<%= link_to 'Назад', group_path %>
