<p id="notice"><%= notice %></p>

<p>
  <strong>Имя группы:</strong>
  <%= @group.name %>
</p>
<strong>Пользователи группы</strong>
<table>
  <% User.all.each do |user| %>
      <% if user.group == @group.id %>
          <tr>
            <td><%= user.surname %></td>
            <td><%= user.name %></td>
            <td><%= user.s_name %></td>
            <td><%= user.ip %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= link_to 'Изменить', edit_group_path(@group) %> |
<%= link_to 'Назад', group_path %>
