= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, 'error')
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :surname, 'Фамилия'
    %br
    = f.text_field :surname
  .field
    = f.label :name, 'Имя'
    %br
    = f.text_field :name
  .field
    = f.label :s_name, 'Отчество'
    %br
    = f.text_field :s_name
  .field
    = f.label :ip, 'IP адрес'
    %br
    = f.text_field :ip
  .field
    = f.label :team, 'Группа'
    %br
    = f.select(:team, Group.all.collect {|g| [ "#{g.name}", g.name ] }, { :include_blank => false })
  %br
  .actions
    = f.submit 'Создать'
  %br
  = 'Список свободных IP адресов'
  - for i in 2..254
    - if User.where(:ip => '192.168.8.'+i.to_s).size == 0
      %br
      = '192.168.8.' + i.to_s
