<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :surname, 'Фамилия' %>
      <br/>
      <%= f.text_field :surname %>
    </div>
    <div class="field">
      <%= f.label :name, 'Имя' %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :s_name, 'Отчество' %>
      <br/>
      <%= f.text_field :s_name %>
    </div>
    <div class="field">
      <%= f.label :ip, 'IP адрес' %>
      <br/>
      <%= f.text_field :ip %>
    </div>
    <div class="field">
      <%= f.label :team, 'Группа' %>
      <br/>
      <%= f.select(:team, Group.all.collect {|g| [ "#{g.name}", g.name ] }, { :include_blank => false }) %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit 'Создать' %>
    </div>
    <br />
    <%= 'Список свободных IP адресов' %>
    <% for i in 2..254 %>
        <% if User.find_all_by_ip ('192.168.8.'+i.to_s) == [] %>
            <%= '192.168.8.' + i.to_s %>
        <% end %>
    <% end %>
<% end %>
