%p#notice= notice
%table
  %tr
    %td
      %strong Фамилия:
    %td= @user.surname
  %tr
    %td
      %strong Имя:
    %td= @user.name
  %tr
    %td
      %strong Отчество:
    %td= @user.s_name
  %tr
    %td
      %strong IP адрес:
    %td= @user.ip
  %tr
    %td
      %strong Группа:
    %td= @user.team
  %tr
    %td
      %strong MAC адрес:
    %td= @user.macadress
  %tr
    %td
      %strong Имя компьютера:
    %td= @user.compname
= link_to 'Создать', new_user_path
|
\#{link_to 'Изменить', edit_user_path(@user)} |
\#{link_to 'Назад', users_path}
