<p id="notice"><%= notice %></p>
<table>
  <tr>
      <td><strong>Фамилия:</strong></td>
      <td><%= @user.surname %></td>
  </tr>
  <tr>
      <td><strong>Имя:</strong></td>
      <td><%= @user.name %></td>
  </tr>
  <tr>
    <td><strong>Отчество:</strong></td>
    <td><%= @user.s_name %></td>
  </tr>
  <tr>
    <td><strong>IP адрес:</strong></td>
    <td><%= @user.ip %></td>
  </tr>
  <tr>
    <td><strong>Группа:</strong></td>
    <td><%= @user.team %></td>
  </tr>
  <tr>
    <td><strong>MAC адрес:</strong></td>
    <td><%= @user.macadress %></td>
  </tr>
  <tr>
    <td><strong>Имя компьютера:</strong></td>
    <td><%= @user.compmame %></td>
  </tr>
</table>
<%= link_to 'Создать', new_user_path %> |
<%= link_to 'Изменить', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
