<header>
  <nav class="round">
    <ul>
      <li><%= link_to 'Домашняя страница', home_path %></li>
      <li><%= link_to 'Все пользователи', list_path %></li>
      <li><%= link_to 'Список squid alc', acl_path %></li>
      <li><%= link_to 'Новый пользователь', new_path %></li>
      <li><%= link_to 'Новая группа', 'groups/new' %></li>
    </ul>
  </nav>
</header>
