%header
  %ul
    %li= link_to 'Домашняя страница', home_path
    %li= link_to 'Пользователи', users_path
    %li= link_to 'Группы', groups_path
    %li= link_to 'Банлисты', listbanfiles_path
    %li= link_to 'Squid', squid_path
